body {
    background-color: #BE92E7;
}

#show-place {
  display: none;
}

.place {
  cursor: pointer;
  color: #0088cc;
}

.place:hover {
  text-decoration: underline;
}

h1, h2, {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 3.8em;

}

h3, h4{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}

#result {
  margin-top: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}
